@{
    ViewBag.Title = "Home Page";
}

<header class="ct-mediaSection ct-section scroll" id="header" data-stellar-background-ratio="0.3" data-height="100%" data-type="parallax" data-bg-image=@Url.Content("~/Assets/Images/Content/computer-home-main-bg.jpg") data-bg-image-mobile=@Url.Content("~/Assets/Images/Content/computer-home-main-bg.jpg")>
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="row">
                <div class="ct-header-text col-md-12 text-center ct-js-animationDynamic">
                    <h2 class="ct-u-paddingBottom40 ct-js-animation--item ct-motive-text" data-when="span" data-from="0" data-to="0.5" data-opacity="0" data-translatey="-100">Kevin Main<br>Software Developer</h2>
                    <h2 class="ct-u-hdr2 ct-js-animation--item" data-when="span" data-from="0" data-to="0.5" data-opacity="0" data-translatey="-100">Optimizationeer. Abstractionist. Algorithmist. Recursionist</h2>
                    <div class="ct-divider ct-divider--type6 ct-js-animation--item" data-when="span" data-from="0" data-to="0.5" data-opacity="0" data-translatey="100">
                        <div class="ct-line ct-line--left"></div>
                        <img src=@Url.Content("~/Assets/Images/divider-icon-type6.png") alt="">
                        <div class="ct-line ct-line--right"></div>
                    </div>
                    <a href="#contact" class="btn btn-default btn--radius ct-js-btnScroll ct-js-animation--item" data-when="span" data-from="0" data-to="0.5" data-opacity="0" data-translatey="100">Talk to me</a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="ct-mediaSection  ct-u-paddingBoth80 scroll" id="about">
    <div class="ct-header-arrow--circleDecoration2 ct-animation--rotate">
        <a class="ct-js-btnScroll" href="#about">
            <div class="ct-arrow--outer"></div>
            <div class="ct-arrow--inner">
                <div class="ct-arrow--icon">
                    <div class="ct-arrow"></div>
                </div>
            </div>
        </a>
    </div>
    <div class="container">
        <header class="ct-pageSectionHeader text-center">
            <h2 class="ct-js-animation--item ct-motive-text" data-when="enter" data-from="0" data-to="1" data-opacity="0" data-translatey="-50"><span class="ct-u-hdr3">About</span> me</h2>
        </header>
        <div class="row ct-u-image--full-width">
            <div class="col-sm-4 col-md-4 ct-u-paddingBottom40">
                <img src=@Url.Content("~/Assets/Images/Content/computer-home-portrait.jpg") alt="">
            </div>
            <div class="col-sm-4 col-md-4 ct-u-paddingBottom40">
                <p>
                    I have over 10 years experience as an agile developer specialising in ASP.NET and C# building n-tier web applications using TDD.
                    <br /><br />
                    I have good knowledge of Microsoft SQL server and database principles and also NoSQL data stores such as MongoDB.
                    <br /><br />
                    I have worked across multiple JavaScript frameworks such as NodeJS, KnockoutJS and Durandal as well as a number of unit testing frameworks.
                    <br /><br />
                    I have also built websites using a variety of other programming languages including ASP, PHP, PERL and ColdFusion.
                </p>
            </div>
            <div class="col-sm-4 col-md-4 ct-u-paddingBottom40">
                <p>
                    I have exceptional leadership skills, which I have demonstrated as the lead developer on several major web application projects. which were delivered to specification, on time and to budget.
                    <br /><br />
                    I have worked in a full agile environment as well as more traditional waterfall companies and believe I have gained a lot of skills in working with stakeholders to produce good reliable software in a way that works best for them.
                    <br /><br />
                    Specialties: C# ASP.NET Web development, .NET (All versions), ASP.NET MVC (All versions), Object-oriented software design, SharePoint Products and Technologies, HTML, JavaScript, XML and AJAX
                </p>
            </div>
        </div>
    </div>
</section>
<section class="ct-mediaSection ct-u-paddingBoth80 ct-section ct-decoration--type6 scroll" id="contact" data-stellar-background-ratio="0.3" data-height="736" data-type="parallax" data-bg-image=@Url.Content("~/Assets/Images/Content/computer-home-contact-bg.jpg") data-bg-image-mobile=@Url.Content("~/Assets/Images/Content/computer-home-contact-bg.jpg") style="min-height: 736px; background-image: url(http://you.html.themeplayers.net/computerservice/assets/images/demo-content/computerservice/computer-home-contact-bg.jpg); background-position: 50% 56.1px;">
    <div class="container">
        <header class="ct-pageSectionHeader text-center ct-js-animationDynamic">
            <h2 class="ct-js-animation--item ct-motive-text" data-when="span" data-from="0.5" data-to="0" data-opacity="0" data-translatey="-50"><span class="ct-u-text--white ct-u-hdr3">Get</span> in touch</h2>
        </header>
        <div class="row">
            <div class="col-md-4 ct-u-text--white">
                <div class="ct-item--contact ct-address">
                    <span>Available For Hire<br /><br />Have an interesting project that needs someone with experience in building rapid applications for large corporations that actually work? Want someone who knows how to build applications to the correct standards and design? I freelance, get in touch.</span>
                </div>

                <div class="ct-item--contact ct-socials--contact">
                    <span class="ct-header--contact">Follow me</span>
                    <a href="https://www.facebook.com/KevMain" class="ct-socials--square-rounded"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/KevMain" class="ct-socials--square-rounded"><i class="fa fa-twitter"></i></a>
                    <a href="https://plus.google.com/+KevMain81" class="ct-socials--square-rounded"><i class="fa fa-google-plus"></i></a>
                    <a href="http://uk.linkedin.com/in/KevMain" class="ct-socials--square-rounded"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="ct-contactForm--type3">
                    <div class="successMessage alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Thank You!
                    </div>
                    <div class="errorMessage alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        Ups! An error occured. Please try again later.
                    </div>
                    <form role="form" action="./assets/form/send.php" method="post" class="contactForm validateIt"
                          data-email-subject="Contact Form" data-show-errors="true">
                        <div class="row padding-xs-top">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group ct-form-group-label--float">
                                    <input id="contact_name" placeholder="Your name" required type="text" name="field[]" class="form-control input-lg">
                                    <label for="contact_name">Your name *</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group ct-form-group-label--float">
                                    <input id="contact_email" placeholder="Your email" required type="email" name="field[]" class="form-control input-lg">
                                    <label for="contact_email">Your email *</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group ct-form-group-label--float">
                                    <textarea id="contact_message" placeholder="Your message" class="form-control input-lg" rows="4" name="field[]" required></textarea>
                                    <label for="contact_message">Your message *</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-primary btn--radius btn-lg pull-right">Send message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>